.bt_send_button {
    font-size: 2rem;
    border-radius: 5px;
    outline: none;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bt_send_button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.bt_send_button:active {
    color: blue;
    border: black 5px solid;
}
.heading {
    font-size: 3rem;
}